.book-card {
  padding: 1rem 0;
  border-bottom: 1px solid #cccccc;
}

header {
  margin: 1rem 0;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.banner, .info, .sale-info {
  margin-right: 2rem;
}

.banner {
  width: 10%;
  overflow: hidden;
}

.banner img {
  width: 100%;
}

.info, .sale-info {
  width: 20%;
}

.description {
  width: 40%;
}

.favorite-btn {
  font-size: 120%;
}
