<section role="main">
  <nav>
    <a (click)="toggleSearchScreen()">Search books</a>
    <a (click)="toggleFavoritesScreen()">Favorites</a>
  </nav>

  <ng-container *ngIf="!isFavoritesScreen; else favoritesBooks">
    <app-search (search)="search($event)"></app-search>
    <app-books-list
      [books]="books$ | async"
      [errorMessage]="errorMessage$ | async"
      (loadMore)="loadMore()">
    </app-books-list>
  </ng-container>

  <ng-template #favoritesBooks>
    <app-books-list
      title="Favorite books"
      [books]="favoritesBooks$ | async">
    </app-books-list>
  </ng-template>
</section>
